<%- include('./template/openTemplate') %>
    <div class="row">
      <div class="col-1">
        <% if(user) {%>
          <button type="button" class="btn btn-warning"><a href="/logOut" class="log">LogOut</a></button>
        <% } else {%>
          <button type="button" class="btn btn-warning"><a href="/auth" class="log">LogIn</a></button>
        <% } %>
      </div>
      <div class="col text-center">
        <h4>Matrix Master Community</h4>
        <% if (result.length > 0){ %>
            <p>There are <%= result.length%> Questions</p>
            <!-- Questions  -->
            <% result.forEach(d => { %>
              <h5><%= d.Title %></h5>
              <p><%= d.Description %></p>
              <a href="/question/<%= d._id %>">See more</a>
            <% })%>

        <% }%>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
      </div>
      <div class=" col text-center">
        <a href="/addQuestion" id="add-btn"><button type="button" class="btn btn-success">Add Question</button></a>
      </div>
    </div>
    
<%- include('./template/closeTemplate') %>
  