
  <%- include('./template/openTemplate') %>
    <h5><%= question.Title %></h5>
    <p><%= question.Description %></p>
    <p>Author: <%= question.User.UserName%></p>
  </div>

  <% if (user && user.Questions.includes(question._id)) {%>
      <a href="/question/edit/<%= question._id %>">Edit Question</a>
      <a href="/question/delete/<%= question._id %>">Delete Question</a>
  <% } %>

  <div class="comments">
    <form action="/question/<%= question._id %>" method="POST">
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment"></textarea>
      <button type="submit">Submit</button>
    </form>
    <% if (question.Comment.length > 0 ){ %>
      <% question.Comment.forEach((c) => { %>
        <p><%= c.Description %></p>
          <% if (user && user.Comments.includes(c._id) || user && user.Questions.includes(question._id)) { %>
          <a href="/comment/delete/<%= c._id%>">Delete Comment</a>
        <% } %>
      <% })%>
    <% } %>
<%- include('./template/closeTemplate') %>

